@import url('https://fonts.googleapis.com/css2?family=Assistant&family=Fira+Sans&family=Mukta&family=Open+Sans&family=Poppins&family=Quicksand&family=Roboto:wght@100;400&family=Signika&family=Staatliches&family=Tajawal&family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@font-face {
    font-family: "Factor";
    src: url("/TRIALFactorA-Regular-BF6476bc3091c00.otf") format("truetype");
  }
body{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.type-1{
    color: #191919;
}
.type-1 p{
    font-size: 16px;
}
.type-1 h1{
    font-size: 24px;
}
.type-2{
    color: #323232;
}
.type-2 p{
    font-size: 18px;
}
.type-2 h1{
    font-size: 28px;
}
.type-3{
    color: #4C4C4C;
}
.type-3 p, .type-3 ul li, .type-3 ol li{
    font-size: 20px;
}
.type-3 h1{
    font-size: 30px;
}
.type-4{
    color: #666666;
}
.type-4 p, .type-4 ul li, .type-4 ol li{
    font-size: 20px;
}
.type-4 h1{
    font-size: 30px;
}
.container{
    max-width: 700px;
    margin: auto;
}

.poppins{
    font-family: 'Poppins', sans-serif;
}
.roboto{
    font-family: 'Roboto', sans-serif;
}
.open-sans{
    font-family: 'Open Sans', sans-serif;
}
.fira-sans{
    font-family: 'Fira Sans', sans-serif;
}
.quicksand{
    font-family: 'Quicksand', sans-serif;
}
.signika{
    font-family: 'Signika', sans-serif;
}
.staatliches{
    font-family: 'Staatliches', cursive;
}
.tajawal{
    font-family: 'Tajawal', sans-serif;
}
.viga{
    font-family: 'Viga', sans-serif;
}
.assistant{
    font-family: 'Assistant', sans-serif;
}
.mukta{
    font-family: 'Mukta', sans-serif;
}
.georgia{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.inter{
    font-family: 'Inter', sans-serif;
}
.inter h1, h2{
    font-size: 42px;
    font-family: 'Factor', sans-serif !important;
}
.inter h3{
    font-size: 32px;
}
.inter p{
    font-size: 20.4px;
    color: #191919;
    line-height: 30px;
    font-weight: 300;
}
.inter p span{
    color: #ff642d;
}
.inter ul li{
    margin-bottom: 15px;
    font-size: 20.4px;
    color: #191919;
    font-weight: 300;
    line-height: 30px;
}
.inter p a,  .inter ul a{
    color: #ff642d;
    text-decoration: none;
}
.inter img{
    width: 90%;
    height: 90%;
}


.font-specifier{
    color: black;
    background-color: yellow;
    text-align: center;
    font-weight: bold;
    padding: 10px;
}
.info{
    background-color: red;
    color: white;
    padding: 10px;
}

@media(max-width: 478px){
    .container{
        max-width: 95%;
    }
    .type-1 p{
        font-size: 12px;
    }

    .type-1 h1{
        font-size: 20px;
    }
    .type-2 p{
        font-size: 14px;
    }
    .type-2 h1{
        font-size: 22px;
    }
    .type-3 p, .type-3 ul li, .type-3 ol li{
        font-size: 16px;
    }
    .type-3 h1{
        font-size: 24px;
    }
    .inter p, .inter ul li{
        font-size: 16px;
        line-height: 24px;
    }
    .inter h1, h2{
        font-size: 32px;
    }

    .inter ul li{
        margin-left: -15px;
    }

}